h1 {
    background-color: indianred;
    border: 20px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
}

span {
    background-color: green;
}

h2 {
    background-color: indianred;
}

h4 {
    background-color: aqua;
    height: 50px;
}

h3 {
    background-color: white;
}

p {
    background-color: aqua;
}
}

a {
    background-color: tomato;
    display: inline-block;
    height: 100px;
    width: 200px;

}

.room-select {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}

#box-display {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10%;
}